.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.progress-transition {
    transition: width 0.5s ease-in-out;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #cbd5e1;
    border-radius: 0.35em;
    display: grid;
    place-content: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.85em;
    height: 0.85em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em white;
    background-color: white;
}

input[type="checkbox"]:checked {
    background-color: #059669;
    border-color: #059669;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}
